@import url('main-section.css');

/* Utils */
.clear { clear:both; }
textarea:focus, input:focus { outline: 0; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"] { -moz-appearance: textfield; }

/* Section (general) */
.section {
  clear: both;
}

.section-content {
  position: relative;
  width: 1000px;
  padding: 1px;
  margin: auto;
}

.section-content h2,
.section-content h3 {
  text-align: center;
}

.separator {
  width: 100%;
  height: 50px;
  background: url('../images/separator.png') center 30px no-repeat;
  background-size: 250px;
}

/* Main section */
/* - See main-section.css */

/* What section */
#what-section {
  border-top: 1px solid #333;
  background: #f6f5f6;
  border-bottom: 1px solid #D3CECA;
}

/* FAQ section */
#faq-section {
  border-top: 1px solid #f6f5f6;
  background: #D3CECA;
  border-bottom: 1px solid #f6f5f6;
  padding-bottom: 20px;
}

/* FAQ section */
#footer-section {
  border-top: 1px solid #D3CECA;
  background: #f6f5f6;
  color: #000000;
  text-align: center;
  line-height: 40px;
}

/* Text format */
#what-section blockquote, 
#what-section p,
#faq-section p {
  text-align: justify;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}