@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards);

.clear { clear:both; }

.section {
	clear: both;
}

.section-content {
	width: 1000px;
	padding: 1px;
	margin: auto;
}

.section-content h2 {
	text-align: center;
}

/* Main section */
#main-section {
	height: 450px;
	background: #3c1f11;
	color: #FFFFFF;
}

#main-section .section-content {
	position: relative;
}

#logo {
	font-family: 'Mrs Sheppards', cursive;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 0; left: 0;
	width: 275px;
	height: 200px;
	background: url('images/logo.png') center -30px no-repeat;
	background-size: 180px;
	text-align: center;
	line-height: 150px;
}

.box {
	position: relative;
	background: url('images/options.png');
}

.box-content {
	margin: 3px;
	padding: 10px;
	border: 1px solid rgba(30, 30, 30, 0.5);
    box-shadow: 2px 2px 3px rgba(200,200,200,0.5),
    			-2px -2px 3px rgba(200,200,200,0.5);
}

.box-title {
	width: 75%;
	margin: 0 auto 10px;
	text-align: center;
	border: 1px;
    border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0)) 1 1;
	background: linear-gradient(to right, rgba(232,192,86,0), rgba(232,192,86,1), rgba(232,192,86,0));
	font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.ss-left {
	width: 275px;
	position: absolute;
	left: 0;
	top: 110px;
}

.ss-left .box {
	margin-bottom: 20px;
}

.options input {
	width: 50px;
	color: #000000;
}

/* Grid */
.coin {
	position: relative;
	z-index: 1;
	width: 85px;
	height: 85px;
	text-align: center;
	font-size: 56px;
	font-family: 'Mrs Sheppards', cursive;
	color: rgba(255,255,255,0.8);
	border-radius: 100px;
	border: 0;
	background: url('images/coin.gif') center center;
	background-size: 85px;
	margin: 6px 5px;
}

.entry {
	background: url('images/coin-entry.gif') center center;
	background-size: 85px;
}

#main_grid {
	position: relative;
	width: 365px; 
	margin: 30px auto;
}

#main_grid #core_number {
	position: absolute;
	top: 164px;
	left: 150px;
	width: 60px;
	height: 60px;
	font-family: 'Mrs Sheppards', cursive;
	font-size: 50px;
	text-align: center;
	border-radius: 100px;
	border: 0;
	background: blue;
}

.box.solution {
	width: 270px;
	position: absolute;
	top: 50px;
	right: 0;
}
.box.solution .box-content {
	height: 105px;
}

.box.solution #solution {
	zoom: 25%;
	position: absolute;
	top: 25px;
	right: 55px;
}
.box.solution #solution .coin {
	font-family: 'Arial', sans-serif;
}

/* What section */
#what-section {
	height: 300px;
	background: #000000;
	color: #FFFFFF;
}

/* FAQ section */
#faq-section {
	height: 300px;
	background: #f9f0eb;
}

/* FAQ section */
#footer-section {
	background: #333333;
	color: #FFFFFF;
	text-align: center;
}