@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards);

.clear { clear:both; }

.section {
	clear: both;
}

.section-content {
	width: 1000px;
	padding: 1px;
	margin: auto;
}

.section-content h2 {
	text-align: center;
}

/* Main section */
#main-section {
	height: 405px;
	background: #3c1f11;
	color: #FFFFFF;
}

#main-section .section-content {
	position: relative;
}

#logo {
	font-family: 'Mrs Sheppards', cursive;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 0; left: 0;
	width: 300px;
	height: 200px;
	background: url('images/logo.png') center -20px no-repeat;
	background-size: 180px;
	text-align: center;
	line-height: 170px;
}

.box {
	padding: 3px;
	position: relative;
	background: url('images/options.png');
	margin-bottom: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box-content {
	padding: 10px;
	border: 1px solid rgba(30, 30, 30, 0.5);
    box-shadow: 2px 2px 3px rgba(200,200,200,0.5),
    			-2px -2px 3px rgba(200,200,200,0.5);
}

.box-title {
	width: 75%;
	margin: 0 auto 10px;
	text-align: center;
	border: 1px;
    border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0)) 1 1;
	background: linear-gradient(to right, rgba(232,192,86,0), rgba(232,192,86,1), rgba(232,192,86,0));
	font-weight: bold;
}

.ss-left {
	width: 300px;
	position: absolute;
	left: 0;
	top: 140px;
}

.echo.box input {
	width: 50px;
	color: #000000;
}

.echo.box .echo-type {
	font-weight: bold;
	text-align: center;
	width: 49%;
	display: inline-block;
}
.echo.box .echo-type label {
	margin-bottom: 0;
}

.echo.box .echo-type .value {
	margin-bottom: 3px;
}
.echo.box .echo-type input {
	text-align: center;
	margin: auto;
	display: block;
	background: none;
	font-size: 2em;
	font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: #FFFFFF;
	border: 0;
	position: relative; z-index: 1;
}

.echo.box .priority {
	position: absolute;
	left: 12.5%;
	bottom: 0px;
	z-index: 0;
    border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) 1 1;
	background: linear-gradient(to right, rgba(232,192,86,0), rgba(232,192,86,0.5), rgba(232,192,86,0));
}

/* Grid */
.coin {
	position: relative;
	z-index: 1;
	width: 75px;
	height: 75px;
	text-align: center;
	font-size: 56px;
	font-family: 'Mrs Sheppards', cursive;
	color: rgba(255,255,255,0.8);
	border-radius: 100px;
	border: 0;
	background: url('images/coin.gif') center center;
	background-size: 75px;
	margin: 6px 5px;
}

.entry {
	background: url('images/coin-entry.gif') center center;
	background-size: 75px;
}

#main_grid {
	position: relative;
	width: 325px; 
	margin: 30px auto;
}

#main_grid #core_number {
	position: absolute;
	top: 144px;
	left: 130px;
	width: 60px;
	height: 60px;
	font-family: 'Mrs Sheppards', cursive;
	font-size: 50px;
	text-align: center;
	border-radius: 100px;
	border: 0;
	background: blue;
}


.ss-right {
	width: 300px;
	position: absolute;
	top: 50px;
	right: 0;
}

.box.solution {

}

.box.solution .box-content {
	height: 105px;
}

.box.solution #solution {
	zoom: 25%;
	position: absolute;
	top: 25px;
	right: 55px;
}
.box.solution #solution .coin {
	font-family: 'Arial', sans-serif;
}

/* What section */
#what-section {
	height: 300px;
	background: #000000;
	color: #FFFFFF;
}

/* FAQ section */
#faq-section {
	height: 300px;
	background: #f9f0eb;
}

/* FAQ section */
#footer-section {
	background: #333333;
	color: #FFFFFF;
	text-align: center;
}